.containerTarj {
    width: 20vw;
}

.icon {
    height: clamp(9rem, 1rem + 10vw, 10rem);
}

.cardText {
    font-size: clamp(1.5rem, 1rem + 1vw ,2rem);
}

.cardTitle {
    font-size: clamp(1rem, 1rem + 2vw, 2.5rem);
}

@media screen and (max-width: 500px) {
    .containerTarj {
        width: 100vw;
    }
}

@media screen and (max-width: 800px) {
    .containerTarj {
        width: 50vw;
        padding-bottom: 50px;
    }
}

@media screen and (min-width: 801px) {
    .containerTarj {
        width: 30vw;
    }

    .cardText {
        width: 90%;
    }
}

@media screen and (min-width: 1800px) and (min-height: 1000px) {
    .containerTarj {
        width: 30vw;
    }

    .cardTitle {
        font-size: 45px;
    }

    .cardText {
        font-size: 30px;
    }
}
