.galleryContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: wheat;
    padding-bottom: 50px;
}

.calecita {
    width: 50vw;
    max-height: 60vh;
}

.calecitaContainer {
    width: 50vw;
    min-height: 60vh;
}

.galleryTitle {
    font-size: 60px;
    text-align: center;
}

@media screen and (max-width: 500px) {
    .calecitaContainer {
        width: 90vw;
        min-height: 30vh;
        max-height: 30vh;
    }

    .calecita {
        width: 90vw;
        min-height: 30vh;
        max-height: 30vh;
    }
}

@media screen and (min-width: 501px) and (max-width: 1000px) {
    .calecitaContainer {
        width: 90vw;
        min-height: 50vh;
        max-height: 50vh;
    }

    .calecita {
        width: 90vw;
        min-height: 50vh;
        max-height: 50vh;
    }
}

@media screen and (min-width: 1001px) {
    .calecitaContainer {
        width: 90vw;
        min-height: 85vh;
        max-height: 85vh;
    }

    .calecita {
        width: 90vw;
        min-height: 85vh;
        max-height: 85vh;
    }
}
