.galleryContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.calecita {
    width: 50vw;
    max-height: 60vh;
}

.calecitaContainer {
    width: 50vw;
}

.galleryTitle {
    font-size: 60px;
    text-align: center;
}

@media screen and (max-width: 480px) {
    .calecitaContainer {
        width: 90vw;
    }

    .calecita {
        width: 90vw;
    }
}