.serviciosContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    width: 100%;
    background-color: black;
}

.serviciosTitle {
    display: flex;
    flex-direction: column;
    color: #fff;
    justify-content: center;
    align-items: center;
    font-size: 60px;
    text-align: center;
}

.serviciosText {
    display: flex;
    text-align: left;
    color: #fff;
    line-height: 2;
    font-size: 20px;
}

.serviciosImg {
    filter: invert(100%) sepia(3%) saturate(0%) hue-rotate(271deg) brightness(103%) contrast(103%);
    width: 200px;
    padding: 0 10px;
}

.serviciosImg2 {
    filter: invert(100%) sepia(3%) saturate(0%) hue-rotate(271deg) brightness(103%) contrast(103%);
    width: 200px;
    padding: 0 10px;
    order: 1;
}

@media screen and (max-width: 850px) {
    .serviciosText {
        flex-direction: column;
        order: 1;
        align-items: center;
        text-align: center;
    }

    .serviciosImg2 {
        order: 0;
    }
}