.form {
    display: flex;
    flex-direction: column;
    width: 40vw;
}

.input {
    width: 100%;
    margin: 10px 0 20px;
    height: 30px;
}

.textarea {
    margin: 10px 0 20px;
    height: 150px;
}

.btn {
    width: 50%;
    margin: 0 auto;
    height: 30px;
}

@media screen and (max-width: 768px) {
    .form {
        width: 60vw;
    }
}

@media screen and (min-width: 1800px) and (min-height: 1000px) {
    .label {
        font-size: 40px;
    }

    .input {
        height: 50px;
    }

    .textarea {
        height: 200px;
    }

    .btn {
        height: 40px;
        font-size: 20px;
    }
}
