.container {
    display: flex;
    width: 100vw;
    max-width: calc(100vw - 17px);
    height: 80px;
    text-align: center;
    align-items: center;
    justify-content: space-around;
    position: sticky;
    top: 0;
    z-index: 2;
}

.coloredBg {
    background-color: rgb(231, 227, 227);
}

.transparentBg {
    background-color: rgba(231, 227, 227, 0.5);
}

.navList {
    display: flex;
    list-style: none;
}

.listItem {
    padding-right: 10px;
    cursor: pointer;
    padding-left: 10px;
    user-select: none;
}

.listItem:hover {
    background-color: #bbb;
    border-radius: 4px;
    transition: all 0.2s ease-in-out;
}

.hamburgerMenu {
    display: none
}

@media screen and (max-width: 800px) {
    .navList {
        display: flex;
        flex-direction: column;
        width: 100%;
        position: absolute;
        top: 80px;
        left: -100%;
        opacity: 1;
        transition: all 0.5s ease;
        margin: 0;
        padding-left: 0;
        font-weight: bold;
    }

    .navList.active {
        background-color: rgb(231, 227, 227);
        left: 0;
        opacity: 1;
        transition: all 0.5s ease;
        z-index: 1;
    }

    .listItem {
        text-align: center;
        padding: 0;
        width: 100%;
        display: table;
    }

    .listItem:hover {
        background-color: #bbb;
        border-radius: 0;
    }

    .logo {
        position: absolute;
        top: 0;
        left: 0;
        transform: translate(25%, 50%)
    }

    .hamburgerMenu {
        display: block;
        position: absolute;
        top: 0;
        right: 0;
        transform: translate(-100%, 60%);
        font-size: 1.8rem;
    }
}

@media screen and (max-width: 480px) and (min-width: 380px) {
    .logo {
        transform: translate(0, 50%);
    }

    .listItem {
        text-align: center;
    }
}

@media screen and (max-width: 379px) {
    .logo {
        display: none;
    }

    .navList.active {
        max-width: 100vw;
    }

    .listItem {
        text-align: center;
        max-width: 100vw;
        padding: 0;
    }
}