.footerContainer {
    background-color: black;
    color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
}

.footerTitle {
    font-size: 40px;
}

.footerList {
    display: flex;
    list-style: none;
    justify-content: space-between;
    width: 75vw;
}

.footerListItem {
    font-size: 20px;
}

.leaflet-container {
    width: 50vw;
    height: 30vh;
}