.footerContainer {
    background-color: black;
    color: rgb(231, 227, 227);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.footerTitle {
    font-size: 60px;
}

.footerList {
    display: flex;
    list-style: none;
    justify-content: space-between;
    width: 75vw;
    border-top: 1px solid white;
    margin-top: 100px;
}

.footerListItem {
    font-size: 20px;
}

@media screen and (max-width: 1300px) {
    .footerList {
        flex-wrap: wrap;
    }
}

@media screen and (min-width: 1800px) and (min-height: 1000px) {

    .footerList {
        width: 85vw;
    }

    .footerListItem {
        font-size: 30px;
    }
}
