.header {
    height: 100%;
    max-width: calc(100vw - 17px);
    width: 100vw;
    position: relative;
}

.leaflet-container {
    width: 100vw;
    max-width: calc(100vw - 17px);
    height: 30vh;
}
